<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <!-- Botón de hamburguesa siempre visible -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menú deslizante usando offcanvas -->
      <div class="offcanvas offcanvas-start" tabindex="-1" id="navbarMenu" aria-labelledby="navbarMenuLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="navbarMenuLabel">Menú</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0">
          <ul class="navbar-nav text-center h-100 bg-light">
            <li class="nav-item">
              <a [routerLink]="['/home']" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/characters-list']" class="nav-link">Characters</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/episodes']" class="nav-link">Episodes</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/about']" class="nav-link">About</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
