.character-card {
  width: 18rem; /* Tamaño fijo para la card */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .card-text {
    font-size: 0.9rem;
    color: #6c757d;
  }

  .list-group-item {
    font-size: 0.85rem;
  }
}
